.inputFocus {
    border: none;
    box-shadow: inset 0 0 5px rgba(18, 53, 36, 0.5);
    outline: none;
    background-color: #f8f8ff;
    border-radius: 10px;
    padding: 10px;
}

.inputFocus:focus {
    border-color: #123524;
    box-shadow: 0 0 5px rgba(18, 53, 36, 0.5);
    outline: none;
}